<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD CONFIGURATION 3.5//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <!-- 全局属性配置 -->
  <properties>
    <property name="dbuser" value="root" />
    <property name="dbpass" value="root" />
  </properties>


  <settings>
    <!-- 开启二级缓存 -->
    <setting name="cacheEnabled" value="true" />
    <!-- 其他常用设置 -->
    <setting name="lazyLoadingEnabled" value="true" />
    <setting name="aggressiveLazyLoading" value="false" />
  </settings>

  <typeAliases>
    <package name="com.sh.my.mybatis.model" />
  </typeAliases>

  <!-- 数据源配置（需根据实际数据库修改） -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver" />
        <property name="url"
          value="jdbc:mysql://127.0.0.1:3306/test?serverTimezone=Asia/Shanghai&amp;useUnicode=true&amp;characterEncoding=UTF-8" />
        <property name="username" value="${dbuser}" />
        <property name="password" value="${dbpass}" />
      </dataSource>
    </environment>
  </environments>


  <!-- 映射器配置（示例） -->
  <mappers>
    <!-- <mapper class="com.sh.my.UserMapper" /> -->
    <!-- 推荐扫描包方式 -->
    <!-- sql注解方式或xml与Mappper在同一个包下，可以通过如下扫描包的方式注册Mapper，且pom需要配置xml资源 -->
    <package name="com.sh.my.mybatis.mapper" />
    <!-- xml与Mapper不在同一个包下，需要通过如下xml文件注册 -->
    <!-- <mapper resource="mapper/UserMapper.xml" /> -->
  </mappers>

</configuration>